

    <div class="container">
      <h1 class="text-center" style="margin-top: 1em;">Login</h1>
      <div class="d-flex justify-content-center mt-5">
        <div class="half-width-form p-4" style="background-color: #f8f9fa; border: 3px solid rgb(247, 243, 243);">

          <form class="form login-form">
            <div class="form-group">
              <label for="email-login"></label>
              <input type="email" id="email-login" name="email-login" class="form-control rounded-pill"
                placeholder="Email:">
            </div>

            <div class="form-group">
              <label for="password-login"></label>
              <input type="password" id="password-login" name="password-login" class="form-control rounded-pill"
                placeholder="Password:">
            </div>

            <button type="submit" class="btn btn-primary rounded-pill" style="margin-top: 20px;">Login</button>
          </form>
        </div>
      </div>
    </div>

    <script src="./js/login.js"></script>