<div class="container">
  <h1 class="text-center" style="margin-top: 1em;">Welcome, {{name}}</h1>
  <div class="d-flex justify-content-center mt-5">
    <div class="half-width-form p-4" style="background-color: #f8f9fa; border: 3px solid rgb(247, 243, 243);">
      <h3>Create your child's profile</h3>
      <form class="form new-comment-form">
        <div class="form-group">
          <label for="child-name"></label>
          <input type="text" id="child-name" name="child-name" class="form-control rounded-pill"
            placeholder="Enter name">
        </div>

        <div class="form-group">
          <label for="child-restrictions"></label>
          <input type="text" id="child-restrictions" name="child-restrictions" class="form-control rounded-pill"
            placeholder="Enter diet restriction">
        </div>

        <div class="form-group">
          <label for="child-medication"></label>
          <input type="text" id="child-medication" name="child-medication" class="form-control rounded-pill"
            placeholder="Enter medication">
        </div>

        <div class="form-group">
          <label for="child-other"></label>
          <input type="text" id="child-other" name="child-other" class="form-control rounded-pill"
            placeholder="Enter any other relevant information">
        </div>
        <button type="submit" class="btn btn-primary rounded-pill"
          style="margin-top: 20px; margin-bottom: 20px;">Submit</button>
    </div>
  </div>
  </form>


  {{#if children.length}}
  <div class="col-md-6 mx-auto mt-3 child-list" >
    <h3 class="text-center">Child's Profile:</h3>


    {{#each children as |child|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <a href="/api/childrens/{{child.id}}"
          class="text-light btn btn-outline-primary btn-md rounded-pill" style="margin: 1.5em">{{child.child_name}}</a>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger rounded-pill" style="margin: 1.5em" data-id="{{child.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashdoor.js"></script>