<div class="container">
    <h1 class="text-center" style="margin-top: 1em;">Welcome parents</h1>
    <div class="d-flex justify-content-center mt-5">
      <div class="half-width-form p-4" style="background-color: #f8f9fa; border: 3px solid rgb(247, 243, 243);">
      
      <form class="form signup-form">
          <div class="form-group">
            <label for="name"></label>
            <input type="text" id="name" name="name" class="form-control rounded-pill" placeholder="Enter Name">
          </div>
  
          <div class="form-group">
            <label for="email"></label>
            <input type="email" id="email" name="email" class="form-control rounded-pill" placeholder="Enter Email">
          </div>
  
          <div class="form-group">
            <label for="password"></label>
            <input type="password" id="password" name="password" class="form-control rounded-pill" placeholder="Enter Password">
          </div>

         <button type="submit" class="btn btn-primary rounded-pill" style="margin-top: 20px;">Submit</button>
        </form>
      </div>
    </div>
  </div>

<script src="/js/signup.js"></script>
