nav {
  background-color: #3d5a80;
  height: 5em;
}

body {
  
  height: 100%;
  color: rgb(2, 22, 42);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;

}

footer {
  background-color: rgb(20, 129, 131);
  height: 7em;




}

footer a {
  font-style: bold;
  color: rgb(1, 30, 31);


}

.btn {
  background-color: #dd6712;
  border-color: #dd6712;
}

.btn-primary:hover {
  color: #f9f7f4;
  background-color: #bd5206;
  border-color: #bd5206;
}


.maintext {

  background-color: #faefe2;
  padding-top: 8em;
}

#carouselExampleControls {
  width: 100%;
}


.review {
  background-color: #e0fbfc;
}

.half-width-form {
  width: 50%;

}


.report {
  width: 100%;
  margin-top: 15em;


}

.report img {
  border-radius: 8%;
  border: 4px solid #dd6712;
  padding: 3px;
}

textarea {
  font-size: 30px;
}